raport/*.aux
raport/*.fls
raport/*.fdb_latexmk
raport/*.log
raport/*.out
raport/*.toc
raport/*.pdf
raport/Jakub_Kusz_raport.synctex.gz
uklad_czujnikow/.vscode
test_uart/a.out
test_uart/.vscode
wizualizacja_silosow/aplikacja_qt_doc
wizualizacja_silosow/aplikacja_qt/.vscode
wizualizacja_silosow/aplikacja_qt/obj/*.o
wizualizacja_silosow/aplikacja_qt/moc
wizualizacja_silosow/aplikacja_qt/Makefile
wizualizacja_silosow/aplikacja_qt/.qmake.stash
wizualizacja_silosow/aplikacja_qt/wizualizacja
wizualizacja_silosow/aplikacja_qt/res/res_output
wizualizacja_silosow/aplikacja_qt/.state_of_alarms

